@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@400;700&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	p {
		@apply leading-relaxed tracking-wide;
	}

	code {
		@apply rounded-md bg-dark-gray-lighter border-4 border-dark-gray-lighter;
	}
}

@layer components {
	.header {
		@apply font-mono font-bold text-yellow text-3xl text-center my-10;
		&::before {
			display: block;
			content: '';
			height: 80px;
			margin-top: -80px;
		}
	}

	.header-2 {
		@apply font-mono font-bold text-yellow text-2xl text-center my-10;
	}

	.text-link {
		@apply font-bold text-cyan hover:underline;
	}

	.timestamp {
		@apply font-mono text-sm text-gray-400;
	}

	.example-area {
		@apply p-4 border-4 border-dashed border-cyan rounded-xl;
	}

	.example-hint {
		@apply pt-2 italic text-gray-400;
	}
}

@layer utilities {
	.auto-html {
		a {
			@apply text-link;
		}
	}
}

input[type='text'] {
	@apply bg-dark-gray-lighter rounded-lg p-2;
	&:focus {
		@apply outline-none ring-4 ring-yellow;
	}
}

input[type='range'] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	@apply w-full; /* Specific width is required for Firefox. */
	@apply bg-transparent; /* Otherwise white in Chrome */
	&:focus {
		@apply outline-none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		@apply w-4 h-4 bg-cyan rounded-full border-none;
		@apply -mt-1;
	}
	&::-moz-range-thumb {
		-webkit-appearance: none;
		@apply w-4 h-4 bg-cyan rounded-full border-none;
	}
	&::-ms-thumb {
		-webkit-appearance: none;
		@apply w-4 h-4 bg-cyan rounded-full border-none;
	}
	&::-webkit-slider-runnable-track {
		@apply w-full h-2 cursor-pointer bg-dark-gray-lighter rounded-full;
	}
	&::-moz-range-track {
		@apply w-full h-2 cursor-pointer bg-dark-gray-lighter rounded-full;
	}
	&::-ms-track {
		@apply w-full h-2 cursor-pointer bg-dark-gray-lighter rounded-full;
		@apply w-full cursor-pointer;
		/* Hides the slider so custom styles can be added */
		@apply bg-transparent border-transparent text-transparent;
	}
}
